.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer {
  max-width: 800px;
}

.inputContainer {
  width: 100%;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  border: 1px solid white;
}
