.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.02), 0 5px 5px rgba(0, 0, 0, 0.04);
}

.profileContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.coverImageContainer {
  width: 100%;
  height: 256px;
  border-radius: 10px;
  object-fit: cover;
}

.profilePictureContainer {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
}

.profileHandle {
  font-size: 1.5rem;
  opacity: 0.7;
}

.followerCount {
  margin-top: 32px;
  margin-bottom: 32px;
}
